[submodule "mocks"]
	path = mocks
	url = https://github.com/manchester-hyperloop/Hardware_Mocks.git
[submodule "lib/CAN_Interface"]
	path = lib/CAN_Interface
	url = https://github.com/manchester-hyperloop/CAN_Interface.git
[submodule "lib/Instance"]
	path = lib/Instance
	url = https://github.com/manchester-hyperloop/Instance.git
